<nav class="navbar navbar-inverse navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">

        <!-- <a class="navbar-brand" href="#">
        <i class="fa fa-codepen" style="font-size: 32px;"></i>
        </a> -->

        <div class="collapse navbar-collapse  d-flex flex-row-reverse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto  me-lg-0 d-flex flex-row-reverse align-self-center">
                <li class="nav-item">
                    
                    <a class="nav-link <%= color[0] %> wite_text d-flex home_"  aria-current="page" href="/home">
                        <p class="me-2 mb-0">خانه</p>
                        <i class="fas fa-user"></i>
                        
                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= color[1] %> wite_text d-flex home_" aria-current="page" href="/contact">
                        <p class="me-2 mb-0">تماس باما</p>
                        <i class="fa fa-phone"></i>
                    </a>
                </li>
                <li class="nav-item "> 
                        <a class="nav-link <%= color[2] %> wite_text d-flex home_" aria-current="page" href="/about">
                            <p class="me-2 mb-0">درباره ما</p>
                            <i class="fas fa-pen"></i>
                        </a>
                    </a>
                </li>
            </ul>

            <form class="d-flex" role="search" action="/home">
                
                <input class="form-control me-2" style="direction: rtl;" type="search" placeholder="جست و جو" aria-label="Search" id="search" name="search">
                <button class="btn  btn-outline-light"  type="submit">
                    بررسی
                </button>
                
            </form>
        </div>
    </div>
</nav>